input{
  margin: 10px;
  padding: 10px 20px;;
}

/* .box {
  height: 400px;
  width: 400px;
  background-color: #b50404;
} */

.page1 {
  height: 400px;
  width: 400px;
  background-color: #9a1818;
}
.page2 {
  height: 400px;
  width: 400px;
  background-color: #bab7b7;
}
.page3 {
  height: 400px;
  width: 400px;
  background-color: #bab7b7;
}